# Python

In [6]:
import pandas as pd
import pymysql

In [22]:
sql = "select * from sheet1"
eng = pymysql.connect(host='localhost',user='root',password='123',db='caibao',charset='utf8')
pd.read_sql(sql,eng)

  company       revenue         cost  GrossMargin  BusinessProfit   NetProfit
0      AL  0.000000e+00          0.0          0.0             0.0         0.0
1      HW  7.212020e+08 -443031000.0  278171000.0      73287000.0  59345000.0
2      SN  2.449566e+08 -208216606.0   36739967.0      13658550.0  12642548.0
3      TX  3.126940e+08 -170574000.0  142120000.0      97648000.0  79984000.0
4      XM  1.749154e+09 -152723500.0   22191900.0        196500.0  13477700.0

In [23]:
df = pd.read_sql(sql,eng)
print (df)
df.info()

  company       revenue         cost  GrossMargin  BusinessProfit   NetProfit
0      AL  0.000000e+00          0.0          0.0             0.0         0.0
1      HW  7.212020e+08 -443031000.0  278171000.0      73287000.0  59345000.0
2      SN  2.449566e+08 -208216606.0   36739967.0      13658550.0  12642548.0
3      TX  3.126940e+08 -170574000.0  142120000.0      97648000.0  79984000.0
4      XM  1.749154e+09 -152723500.0   22191900.0        196500.0  13477700.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
company           5 non-null object
revenue           5 non-null float64
cost              5 non-null float64
GrossMargin       5 non-null float64
BusinessProfit    5 non-null float64
NetProfit         5 non-null float64
dtypes: float64(5), object(1)
memory usage: 320.0+ bytes

# Mysql
---
net start mysql  开启mysql <br/>
mysql -u root -p <br/>
show databases;  <br/>
creat database caibao;  创建新数据库  <br/>
show databases;<br/>
use caibao;  切换数据库<br/>
creat table sheet1(company varchar(20),revenue double);  创建表<br/>
describe sheet1;<br/>
alter table sheet1  增加字段及类型<br/>
&nbsp;&nbsp;&nbsp;&nbsp;  add cost double<br/>
&nbsp;&nbsp;&nbsp;&nbsp;  add GrossMargin double<br/>
&nbsp;&nbsp;&nbsp;&nbsp;  add BusinessProfit double<br/>
&nbsp;&nbsp;&nbsp;&nbsp;  add NetProfit double;<br/>
desc sheet1;<br/>
alert table sheet1  修改表<br/>
    modify company varchar(20) primary key; 修改字段，增加主键<br/>
insert into sheet1  插入数据<br/>
    valuse( , , , , ,)，按行插入<br/>
    values( , , , , ,);<br/>
 select *   检查插入情况<br/>
     from sheet1<br/>